# 1) 忽略所有
*

# 2) 放行所有目录（否则 Git 可能进不去子目录）
!*/

# 3) 放行 data/hCellMix 及其全部内容
!data/
!data/hCellMix/
!data/hCellMix/**

#!docs/
#!docs/locale/
#!docs/locale/**

# 4) 放行 .gitignore 本身（建议保留）
!.gitignore

custom